.foot{
    display: flex;
    justify-content: space-around;
}
.pie{
    text-align: center;
    color: #fff;
    background-color: #000;
    height: 67%;
}

footer{
    color: #fff;
    background-color: #000;
}
