.h1{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

 main{
    display: flex;
    background-color: #000000;
    color: white;
    padding: 3px;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
    height: 20%;
    text-align: center;
    border-radius: 20px;
    
}
.container{ 
    border: solid;   
    margin: 2px;
    border-color: rgb(19, 18, 18);
    border-radius: 20px;
}
img{
    margin-top: 20px;
    width: 90%;
    height: 40%;
}

div{
    margin-top: 3em;
    padding: 10px;

}